:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5dc; /* Cambié el fondo a beige */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  background-color: #f5f5dc; /* Fondo beige */
}

@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #f5f5dc; /* Asegurando que el fondo sea beige en modo claro */
  }
  a:hover {
      color: #747bff;
  }
  button {
      background-color: #f9f9f9;
  }
}
